{% extends 'base.html' %}
{% load static %}


<head>
    <meta charset="utf-8">

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% endblock %}
</head>

{% block content %}

<div class="cursor"></div>
<div class="cursor2"></div>

<div class="landing" id="landing">

    <div id="logo">
        <img src="../static/img/Precious Beast  's Store _ Society6.png" alt="">
    </div>

    <div id="menu">
        <ul >
            <li>HOME</li>
            <li>ABOUT</li>
            <li>PROJECTS</li>
            <li>CONTACT</li>
        </ul>
    </div>

    <div class="centered" style="position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);">
        <h1 class="hello">LEWIS<br>NJAGI</h1>
    </div>
    <div class="bottom-left" style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
        <img src="../static/img/n1591757.png" height="450px" alt="">
    </div>
    <div class="bottom-left" style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
        <img src="../static/img/1314177 (1).png" height="450px" alt="">
    </div>
    <div class="top-right" style=" position: absolute;
    top: 50px;
    right: 80px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="90px" id="cloud" alt="">
    </div>
    <div class="top-left" style=" position: absolute;
    top: 50px;
    left: 80px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="50px" id="cloud1" alt="">
    </div>
    <div class="bottom-left" style="position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);">
        <img src="../static/img/pngaaa.com-1686560.png" height="125px" id="cloud2" alt="">
    </div>
    <div class="top-left" style=" position: absolute;
    bottom: 200px;
    left: 200px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="160px" id="cloud3" alt="">
    </div>
    <div class="top-left" style=" position: absolute;
    bottom: 100px;
    left: 500px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="100px" id="cloud4" alt="">
    </div>
    <div class="top-right" style=" position: absolute;
    top: 230px;
    right: 200px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="112px" id="cloud5" alt="">
    </div>
    <div class="top-right" style=" position: absolute;
    top: 500px;
    right: 300px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="70px" id="cloud6" alt="">
    </div>
    <div class="top-right" style=" position: absolute;
    top: 330px;
    right: 10px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="40px" id="cloud7" alt="">
    </div>
    <div class="top-left" style=" position: absolute;
    bottom: 50px;
    left: 200px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="60px" id="cloud8" alt="">
    </div>
    <div class="top-left" style=" position: absolute;
    bottom: 530px;
    left: 200px;">
        <img src="../static/img/pngaaa.com-1686560.png" height="250px" id="cloud9" alt="">
    </div>

</div>
<div class="header">

    <h2 class="me">A BRIEF HISTORY <br> ABOUT ME</h2>

    <p class="des">I am Mirko Zeppieri, a Photo Retoucher and Digital Designer, born and raised in Rome, currently based
        in
        Amsterdam, the Netherlands. I attended the Instituto Europeo di Design (IED) in Rome, where I earned my
        Bachelor's Degree in Photography and Retouching. I have a strong background in photography, which helps me in
        putting together the images that I want to create, as I work extensively in the studio on commercial
        photography, mainly for advertising and e-commerce, as well as for stock photo websites as an author and
        contributor. I am open to any type of business proposal or partnership; if you want to contact me, I will be
        happy to answer. </p>

    <div class="video-container">
        <video autoplay loop muted id="video-bg">

            <source src="../static/video/Nebula - 24623.mp4" type="video/mp4">

        </video>
    </div>

</div>
<div class="port">
    <h1 class="skill">MY PORTFOLIO</h1>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card" style="width: 700px">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="card-img" src="../static/img/Screenshot from 2021-05-04 12-26-57.png"
                                alt="Card image" height="250px" />
                        </div>
                        <div class="col-sm-6">
                            <div class="card-body-left mt-5">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and
                                    engineer</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>

<div class="container-fluid foot">
    <h2 style="text-align: center; font-family: Poiret One, cursive; padding-top: 200px; color: white;">SAY HELLO</h2>
    <p style="text-align: center; font-family: Poiret One, cursive; padding-top: 50px; color: white;">Have a project you’d like to discuss? I'd love to hear from you.
    </p>
    <button class="btn btn-light" style="margin-top: 50px; font-family: Poiret One, cursive; font-weight: bold;">DROP ME A LINE</button>
    <img src="../static/img/logo-instagram-png-13552.png" height="50px" width="50px" style="margin-top: 50px;" alt="">
</div>

<!-- <div class="scroll-top">
    
    <div class="inner">
        <img src="../static/img/5847ea22cef1014c0b5e4833.png" alt="" height="80%">
    </div>
    <div class="inner">
        <img src="../static/img/kisspng-python-general-purpose-programming-language-comput-python-programming-language-symphony-solution-5b6ee0c89ecd95.2067324515339931606505.png"
            alt="" height="80%" style="margin-left: 100px;">
    </div>
    <div class="inner">
        <img src="../static/img/kisspng-python-general-purpose-programming-language-comput-python-programming-language-symphony-solution-5b6ee0c89ecd95.2067324515339931606505.png"
            alt="" height="80%" style="margin-left: 100px;">
    </div>
    
   
</div> -->


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script>
    var object = $('#cloud');
    var object1 = $('#cloud1');
    var object2 = $('#cloud2');
    var object3 = $('#cloud3');
    var object4 = $('#cloud4');
    var object5 = $('#cloud5');
    var object6 = $('#cloud6');
    var object7 = $('#cloud7');
    var object8 = $('#cloud8');
    var object9 = $('#cloud9');


    var layer = $('#landing');

    layer.mousemove(function (e) {
        var valueX = (e.pageX * 1 / 20);
        var valueY = (e.pageY * 1 / 20);

        object.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object1.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object2.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object3.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object4.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object5.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object6.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object7.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object8.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
        object9.css({
            'transform': 'translate(-30%,-30%) translate3d(' + valueX + 'px,' + valueY + 'px,0)'
        });
    });

    let mouseCursor = document.querySelector(".cursor")
    let navLinks = document.querySelectorAll('.card img')
    let mouseCursor2 = document.querySelector(".cursor2")


    window.addEventListener("mousemove",cursor);
    window.addEventListener("mousemove",cursor2);

    function cursor(e){
        mouseCursor.style.top = e.pageY + 'px';
        mouseCursor.style.left = e.pageX + 'px';
    }
    function cursor2(e){
        mouseCursor2.style.top = e.pageY + 'px';
        mouseCursor2.style.left = e.pageX + 'px';
    }

    navLinks.forEach(link => {
        link.addEventListener("mouseleave", () => {
            mouseCursor.classList.remove("link-grow");
        });
        link.addEventListener("mouseover", () => {
            mouseCursor.classList.add("link-grow");
        });
    });

</script>
{%endblock%}